@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #F5FFFB;
}

.green{
  color: #00C788; 
  font-size: 20px; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* START: General styles */
.textButtonDiv{
  @apply ml-auto flex space-x-5
}

.logo {
  width: 50px;
  height: 50px;
} 

.navBarName{
  padding-left: 10px;
}

.max-width {
  @apply max-w-[1440px] mx-auto;
  
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END: General styles */

/* START: Intro styles */
.intro {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.subtitle {
  @apply font-light mt-5;
}

.catalog{
  @apply font-semibold text-[18px];
}

.image-container {
  @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
}

.image {
  @apply relative xl:w-full w-[95%] xl:h-full h-[600px] z-0;
}

.image-overlay {
  @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
}

/*Sign In*/
.logoContainer{
  @apply w-full px-12 bg-[#FFEBA9] rounded-2xl     
}

.logoSignIn{
  @apply pt-10 w-28 h-28 mx-auto;
}

.yellowContainer{
  @apply w-full;
}

.divYellowContainer{
  @apply py-9 px-10;
}

.pinkLine{
  @apply min-w-[260px];
}


  /*Sign Up*/
  .divSignUp{
    @apply flex w-full max-w-4xl;
  }

  .main{
    @apply flex-col;
  }

  .container{
    @apply w-full px-12  bg-[#FFEBA9] rounded-2xl; 
  }

  .form{
    font-size: 19px;
  }



/*User page*/
.textButtonSignOut{
  font-size: 16px;
  width: 150px; /* Ajusta el ancho del botón */
  height: 47px; /* Ajusta la altura del botón */

}




/*Admin*/
  .toggleButton{
    background-color: pink;
    color: white;
  }

  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  
  /* navbar */
  .navbar {
    background-color: aliceblue;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 70px;
  }
  
  
  /* logo  */
  .logo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  /* ul  */
  .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  
  



/* START: Footer styles */
.footer {
  @apply flex flex-col text-black-100  mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}
/* END: Footer styles */




/*ADMIN*/

/*NavBar*/
.navBar{
  width: 15%;
  height: auto;
}

.NavAdminDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Añadido para alinear a la izquierda */
}

.text{
  padding: 2%;
}
.tituloAdmin{
  font-size: 30px;
  font-weight: bold;
}



/*Celular*/

@media (max-width: 380px){
  /*Intro*/
  .navBarName{
    font-size: 10px;
    padding-right: 20px;
  
  }
  
  .textButton{
    font-size: 10px;
  }
  
  .textButtonDiv{
    @apply ml-auto flex min-w-[244px] 
  }
  
  .logo {
    padding-left: 0px;
    width: 25px;
    height: 25px;
  } 
  
  .image-container {
    @apply flex justify-end items-end w-full xl:h-screen;
  }
  
  .image {
    @apply relative xl:w-full w-[95%] xl:h-full h-[200px] z-0;
  }
  
  .image-overlay {
    @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[500px] overflow-hidden;
  }

  .catalog{
    @apply font-semibold text-[16px];
  }
    
  .green{
    font-size: 15px; 
  }

  .intro {
    @apply flex xl:flex-row flex-col relative z-0 max-w-[1440px] mx-auto;
  }

  .title {
    @apply 2xl:text-[60px] sm:text-[50px] text-[35px] font-extrabold;
  }


  /*Sign In*/
  .yellowContainer{
    @apply w-80;
  }
  
  .logoContainer{
    @apply w-full px-10  bg-[#FFEBA9] rounded-2xl     
  }

  .logoSignIn{
    @apply pt-10 w-24 h-24 mx-auto;
  }

  .titleSignIn{
    @apply text-[25px];
  }

  .input{
    @apply w-full ;
  }

  .prSignIn{
    @apply text-[10px];
  }

  .divYellowContainer{
    @apply py-9 px-2;
  }

  .pinkLine{
    @apply min-w-[120px];
  }

  .googleLogo{
    @apply w-6 h-6;
  }


  /*Sign Up*/
    .divSignUp{
      @apply block w-full max-w-80;
    }

    .main{
      @apply flex-row;
    }

    .cuidaTuMenteTitle{
      font-size: 28px;
    }

    .cuidaTuMente{
      width: 400px;
      height: 300px;
    }

    .container{
      @apply w-full px-1 bg-[#FFEBA9] rounded-2xl; 
    }

    .form{
      font-size: 15px;
    }
  
    .prSignUp{
      @apply text-[12px];
    }
  

/*User page*/
  .userName{
    font-size: 13px;
  }

  .textButtonSignOut{
    font-size: 13px;
    width: 150px; /* Ajusta el ancho del botón */
    height: 47px; /* Ajusta la altura del botón */
  
  }
}


@media (min-width: 380px) and (max-width: 520px){
  /*Intro*/
  .navBarName{
    font-size: 12px;
    padding-right: 20px;
  
  }
  
  .textButton{
    font-size: 12px;
  }
  
  .textButtonDiv{
    @apply ml-auto flex min-w-[270px] 
  }
  
  .logo {
    padding-left: 0px;
    width: 30px;
    height: 30px;
  } 
  
  .image-container {
    @apply flex justify-end items-end w-full xl:h-screen;
  }
  
  .image {
    @apply relative xl:w-full w-[95%] xl:h-full h-[200px] z-0;
  }
  
  .image-overlay {
    @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[500px] overflow-hidden;
  }

  .catalog{
    @apply font-semibold text-[16px];
  }
    
  .green{
    font-size: 15px; 
  }

  .intro {
    @apply flex xl:flex-row flex-col relative z-0 max-w-[1440px] mx-auto;
  }

  .title {
    @apply 2xl:text-[60px] sm:text-[50px] text-[35px] font-extrabold;
  }


  /*Sign In*/
  .yellowContainer{
    @apply w-96;
  }
  
  .logoContainer{
    @apply w-full px-10  bg-[#FFEBA9] rounded-2xl     
  }

  .logoSignIn{
    @apply pt-10 w-24 h-24 mx-auto;
  }

  .titleSignIn{
    @apply text-[25px];
  }

  .input{
    @apply w-full ;
  }

  .prSignIn{
    @apply text-[12px];
  }

  .divYellowContainer{
    @apply py-9 px-2;
  }

  .pinkLine{
    @apply min-w-[120px];
  }

  .googleLogo{
    @apply w-6 h-6;
  }


  /*Sign Up*/
    .divSignUp{
      @apply block w-full max-w-80;
    }

    .main{
      @apply flex-row;
    }

    .cuidaTuMenteTitle{
      font-size: 28px;
    }

    .cuidaTuMente{
      width: 400px;
      height: 300px;
    }

    .container{
      @apply w-full px-1 bg-[#FFEBA9] rounded-2xl; 
    }

    .form{
      font-size: 15px;
    }
  
    .prSignUp{
      @apply text-[12px];
    }
  

/*User page*/
  .userName{
    font-size: 13px;
  }

  .textButtonSignOut{
    font-size: 13px;
    width: 150px; /* Ajusta el ancho del botón */
    height: 47px; /* Ajusta la altura del botón */
  
  }
  

  /*Admin*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  
  
  }
  
  